/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
/storage/framework/cache
/storage/framework/views
/storage/framework/sessions
/bootstrap/cache
npm-debug.log
yarn-error.log
.env
.phpunit.result.cache